body {
background-image: -webkit-linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('images/basement-bg.jpg');
background-image: -o-linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('images/basement-bg.jpg');
background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('images/basement-bg.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}


/***** Top Nav Bar *****/
.contain-to-grid {
    background: transparent;
}
.tab-bar {
    background: rgb(50, 95, 170);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4)inset;
}
.tab-bar-section.left {
    text-align: left;
}
.tab-bar-section a {
    background: url('images/bs-icon.png') no-repeat 0px 8px transparent;
    background-size: 28px;
    padding: 7px 0px 0px 40px;
    display: block;
    color: #fff;
}
.tab-bar-section {
    font-size: .8em;
    line-height: 1.4em;
    font-weight: 400;
}
.right-small {
    border-left: solid 1px rgb(0, 60, 120);
}

/***** Nav Canvas *****/
.right-off-canvas-menu {
    background: rgb(220, 220, 220);
}
ul.off-canvas-list li a {
    color: rgb(60,60,60);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(255, 255, 255, .3);
}
ul.off-canvas-list li a:hover {
    color: #fff;
    background: rgb(50, 100, 170);
}
ul.off-canvas-list li label {
    background: rgb(50, 95, 170);
    color: #fff;
    border-top: solid 1px rgb(120, 120, 120);
    text-shadow: 0px 1px 0px rgba(0,0,0,.3);
}
.move-left .exit-off-canvas {
    box-shadow: 4px 0 10px rgba(0, 0, 0, .2);
}

/***** Main Message Image *****/
#header div {
    padding: 15px 15px 10px;
}
#header img {
    display: block;
    margin: 0px auto;
}
#header p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2em;
    text-shadow: 0px 0px 10px rgb(255,255,255);
}

/***** Service Thumbnails *****/
#services {
    padding-bottom: 15px;
    background: #efefef;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
#services .row {
    background-color: rgb(45, 85, 165);
    /*border-bottom: 3px solid rgba(0, 35, 95, .9);*/
    margin-bottom: 5px;
}
#services .small-11 a {
    display: block;
    min-height: 40px;
    padding: 12px 8px;
    font-size: 1.0em;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);

}
#services .small-11 .small-10 {
    text-align: left;
    padding-left: 20px;
}

/***** Proudly Serving... *****/
#territory {
    padding: 10px 0px 8px;
    background: #efefef;
    border-top: 1px solid rgba(255,255,255,.7);
}
#territory span {
    display: block;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    font-style: italic;
    color: rgb(25, 65, 125);
}
#territory h3 {
    text-align: center;
    line-height: 1.3em;
    font-size: 15px;
    color: #333;
    text-shadow: 0px 1px 0px rgba(255,255,255, .75);
    font-weight: 400;
}

/***** CTA Buttons - HOME *****/
#buttons {
    padding-bottom: 10px;
    background: transparent;

}
#buttons p {
    font-size: 16px;
    font-style: italic;
    color: #333;
    text-align: center;
    margin: 10px auto 0px;
    text-shadow: 0px 0px 10px rgb(255,255,255);
}
#ctaBtn {
    font-size: 1.3em;
    margin-top: 8px;
    margin-bottom: 10px;
    letter-spacing: .05em;
}
#ctaBtn {
    color: #fff;
    overflow: hidden;
}
a#ctaLink {
    color: #fff;
    display: block;
    overflow: auto;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}
a#ctaLink {
    background-color: rgb(215, 45, 35);   
}

#ctaBtn .small-12 {
    text-align: center;
    display: table;
    height: 50px;
    padding: 0px;
}
#ctaBtn .small-12 span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
}


/**** Content Styles ****/
#contentWrap {
    padding-top: 10px;
    color: #333 !important;
}
#contentWrap h1 {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.2em;
}
#contentWrap p, #contentWrap ul {
    line-height: 1.2em;
    font-weight: 400;
    font-size: 15px;
}
#contentWrap h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 400;
}
#contentWrap h3 {
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 400;
}

/**** Photo Slideshow ****/
.visible-img {
    height: 85%;
}
.clearing-caption {
    padding-bottom: 30px;
}
/**** Orbit Container ****/
.orbit-container {
    margin: 10px auto 20px;
}

/**** Contact Form ****/
div#contactForm {
    background: #efefef;
    padding-top: 15px;
    border-top: 1px solid #c8c8c8;
}
p.contactText {
    font-size: 15px;
    line-height: 1.3em;
    margin-top: 10px;
}
p.contactText span {
    display: block;
    margin-top: 3px;
    font-weight: bold;
    font-size: 18px;
}
label small {
    text-transform: capitalize;
    color: rgb(180, 60, 60);
    float: right;
}
#contactForm button {
    background-color: rgb(215, 45, 35);
    margin-top: 10px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    font-size: 1.3em;
}
fieldset {
    border: none;
    padding: 0px;
}
fieldset legend {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: .5rem;
    background: transparent;
}

/**** About Us Page Styles ****/
img#ownerPhoto {
    float: right;
    margin: 0px 0px 15px 15px;
    max-width: 100px;
}