/***** Top Nav Bar *****/
.tab-bar {
    background: rgb(50, 100, 170);
}
.tab-bar-section.left {
    text-align: left;
}
.tab-bar-section a {
    background: url('../images/bs-icon.png') no-repeat 0px 8px transparent;
    background-size: 28px;
    padding: 7px 0px 0px 40px;
    display: block;
    color: #fff;
}
.tab-bar-section {
    font-size: .8em;
    line-height: 1.4em;
    font-weight: 200;
}
.right-small {
    border-left: solid 1px rgb(0, 60, 120);
}

/***** Nav Canvas *****/
.right-off-canvas-menu {
    background: rgb(230, 230, 230);
}
ul.off-canvas-list li a {
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .6);
}
ul.off-canvas-list li a:hover {
    color: #fff;
    background: rgb(50, 100, 170);
}
ul.off-canvas-list li label {
    background: rgb(150, 150, 150);
    color: #fff;
    border-top: solid 1px rgb(120, 120, 120);
}
.move-left .exit-off-canvas {
    box-shadow: 4px 0 10px rgba(0, 0, 0, .2);
}

/***** Main Message Image *****/
#header div {
    background-color: rgba(0, 0, 0, .25);
    min-height: 120px;
}

/***** Service Thumbnails *****/
#services {
    background: rgb(215, 215, 215);
}
#services .small-12 a {
    display: block;
    min-height: 50px;
    padding: 15px 8px 8px;
    font-size: 1em;
    line-height: 1em;
    font-weight: 800;
    text-align: center;
    color: #4c4c4c;
}
#services .small-12 .small-10 {
    text-align: left;
    padding-left: 20px;
}
#services .row:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

/***** Proudly Serving... *****/
#territory {
    padding: 10px 10px 8px;
    background: rgba(0, 0, 0, .05);
}
#territory span {
    display: block;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 800;
    font-style: italic;
}
#territory h3 {
    text-align: center;
    line-height: 1.1em;
    font-size: 1em;
}

/***** CTA Buttons *****/
#callBtn {
    background-color: rgb(150, 150, 150);
    font-size: 1.7em;
}
#formBtn {
    background-color: rgb(100, 100, 100);
    font-size: 1.2em;
}
#callBtn, #formBtn {
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    overflow: hidden;
}
a#phoneLink, a#formLink {
    color: #fff;
}
#callBtn .small-9, #formBtn .small-9 {
    text-align: center;
    display: table;
    min-height: 60px;
}
#callBtn .small-9 span, #formBtn .small-9 span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 200;
}
#callBtn .small-3, #formBtn .small-3 {
    box-shadow: -5px 0px 10px rgba(0, 0, 0, .25)inset;
    padding: 8px;
    text-align: center;
    min-height: 60px;
}
#callBtn .small-3 {
    background: url('images/call-icon.svg') no-repeat center;
    background-size: 40px;
}
#formBtn .small-3 {
    background: url('images/form-icon.svg') no-repeat center;
    background-size: 45px;
}
/**** Photo Slideshow ****/
.clearing-caption {
    padding-bottom: 30px;
}